/* Coolors Exported Palette - https://coolors.co/220b14-da9494-5d7dc0-e9faf7-e87243 */

/* CSS HEX */
--xiketic: #220B14ff;
--pastel-pink: #DA9494ff;
--glaucous: #5D7DC0ff;
--azure-x-11-web-color: #E9FAF7ff;
--mandarin: #E87243ff;

/* CSS HSL */
--xiketic: hsla(337, 51%, 9%, 1);
--pastel-pink: hsla(0, 49%, 72%, 1);
--glaucous: hsla(221, 44%, 56%, 1);
--azure-x-11-web-color: hsla(169, 63%, 95%, 1);
--mandarin: hsla(17, 78%, 59%, 1);

/* SCSS HEX */
$xiketic: #220B14ff;
$pastel-pink: #DA9494ff;
$glaucous: #5D7DC0ff;
$azure-x-11-web-color: #E9FAF7ff;
$mandarin: #E87243ff;

/* SCSS HSL */
$xiketic: hsla(337, 51%, 9%, 1);
$pastel-pink: hsla(0, 49%, 72%, 1);
$glaucous: hsla(221, 44%, 56%, 1);
$azure-x-11-web-color: hsla(169, 63%, 95%, 1);
$mandarin: hsla(17, 78%, 59%, 1);

/* SCSS RGB */
$xiketic: rgba(34, 11, 20, 1);
$pastel-pink: rgba(218, 148, 148, 1);
$glaucous: rgba(93, 125, 192, 1);
$azure-x-11-web-color: rgba(233, 250, 247, 1);
$mandarin: rgba(232, 114, 67, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #220B14ff, #DA9494ff, #5D7DC0ff, #E9FAF7ff, #E87243ff);
$gradient-right: linear-gradient(90deg, #220B14ff, #DA9494ff, #5D7DC0ff, #E9FAF7ff, #E87243ff);
$gradient-bottom: linear-gradient(180deg, #220B14ff, #DA9494ff, #5D7DC0ff, #E9FAF7ff, #E87243ff);
$gradient-left: linear-gradient(270deg, #220B14ff, #DA9494ff, #5D7DC0ff, #E9FAF7ff, #E87243ff);
$gradient-top-right: linear-gradient(45deg, #220B14ff, #DA9494ff, #5D7DC0ff, #E9FAF7ff, #E87243ff);
$gradient-bottom-right: linear-gradient(135deg, #220B14ff, #DA9494ff, #5D7DC0ff, #E9FAF7ff, #E87243ff);
$gradient-top-left: linear-gradient(225deg, #220B14ff, #DA9494ff, #5D7DC0ff, #E9FAF7ff, #E87243ff);
$gradient-bottom-left: linear-gradient(315deg, #220B14ff, #DA9494ff, #5D7DC0ff, #E9FAF7ff, #E87243ff);
$gradient-radial: radial-gradient(#220B14ff, #DA9494ff, #5D7DC0ff, #E9FAF7ff, #E87243ff);