@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* For rgb(255 115 179 / <alpha-value>) */
    --color-primary: rgb(31 63 119);
    --color-secondary: rgb(245 136 32);
  }
}
@layer components {
  /* Standard Utils */
  .btn {
    @apply flex flex-row items-center h-full  space-x-2 p-2 rounded-lg md:hover:bg-primary;
  }
  .btn-icon {
    @apply text-3xl text-white;
  }
  .btn-txt {
    @apply self-center h-full font-sans font-semibold text-xl text-white;
  }

  /* Dashboard Stats */
  .stat-card {
    @apply min-w-[250px] w-2/3 m-4 h-[200px] rounded-2xl border-8 flex flex-col items-center justify-between border-secondary bg-slate-100 pt-4;
  }
  .stat-icon {
    @apply text-7xl text-primary md:text-6xl;
  }
  .stat-title {
    @apply font-sans font-semibold text-2xl text-primary pl-2;
  }
  .stat-figure {
    @apply font-sans font-bold text-3xl text-primary;
  }
  .stat-btn {
    @apply bg-secondary h-10 w-full rounded-md font-sans font-semibold text-2xl text-white hover:bg-orange-400;
  }
  /* End of Dashboard Stats*/

  /* Sidebar Menu Buttons */
  .sidebar-btn {
    @apply w-2/3 flex flex-row items-center justify-between space-x-3  mt-3 h-[80px] text-white  hover:text-secondary !important;
  }
  .sidebar-icon {
    @apply self-center;
  }
  .sidebar-txt {
    @apply flex flex-col items-start w-full font-sans font-semibold text-3xl text-center;
  }
  /* End - Sidebar Menu Buttons */
}
